<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% movies.forEach(movie => { %>
      <article style="text-align: center;">
        <img width="300" height="500" src="<%= movie.poster %>" alt="<%= movie.title %>">  
        <h2><%= movie.title%></h2>
        <a href="/movies/<%= movie.id %>">Ver detalles</a>
      </article>
      <%  }); %>
  </body>
</html>
